# Environment files
.env
.env.*
.venv/
env/
venv/

# Python-specific files and directories
__pycache__/
*.pyc
*.pyo
*~
.pytest_cache/
.mypy_cache/
htmlcov/
dist/
site/
.coverage*
coverage.xml
pip-log.txt
log.txt

# IDE-specific files (optional, adjust as needed)
.idea/  # For PyCharm or other JetBrains IDEs
.vscode/ # For VS Code
